
/* GENERAL LAYOUT */

* {
    margin: 0;
    padding: 0;
}

/* NAVBAR */

.logo {
    width: 120px;
}

.login-signup-align {
    display: flex;
    text-decoration: none;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.login-signup-align li a {
    color: rgba(0,0,0,.55);
    height: 100%;
}

.login-signup-align li {
    height: 100%;
}


/* CAROUSEL */

.carousel-styling {
    height: 300px;
}

.carousel-item img {
    object-fit: cover;
    max-height: 19rem;
}

.carousel-text-align {
    padding-top: 30rem;
    text-shadow: 2px 2px 5px black;
    font-size: 1.5rem;
}

.carousel-text-align h5{
    font-size: 1.7rem;
}

@media screen and (min-width: 600px) {
    .carousel-text-align {
        font-size: 1.5rem;
    }
    
    .carousel-text-align h5{
        font-size: 1.7rem;
    }

    .logo {
        width: 150px;
    }
}